<div *ngIf="weather">
    <div class="details">
        <div>
            <div class="name">{{ weather.name }},</div>
            <div class="time">{{ weather.dt | date:'EEEE, MMMM d h:mm'}}</div>
        </div>
        <div class="temp">
            <div class="image-holder">
                <img src="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png" alt="">
            </div>
            <div>{{ weather.main.temp }}°</div>
        </div>
        <div class="long">
            <div class="details">{{ weather.main.temp_max }}°/{{ weather.main.temp_min }}° feels like {{ weather.main.feels_like }}°</div>
            <div class="details">{{ weather.weather[0].description }}</div>
        </div>
        <div class="advanced">
            <div class="humidity">Humidity: {{ weather.main.humidity }}%</div>
            <div>|</div>
            <div class="wind">Wind: {{ weather.wind.speed }} km/h</div>
        </div>
    </div>
</div>