* {
    text-align: center;
}

.name {
    font-size: 1.8em;
    padding: 10px;
}

.temp>div {
    vertical-align: middle;
    display: inline;
    font-size: 1.5em;
    .image-holder {
        width: 100px;
        height: 100px;
    }
}

:host>div {
    padding: 15px 5px;
}

.advanced {
    border-radius: 5px;
    width: 100%;
    margin: 20px 0px 5px 0px;
    background-color: green;
    opacity: 0.5;
    padding: 30px 20px;
    font-size: 1em;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.long>* {
    padding: 5px;
}

.time {
    font-size: 0.8em;
}