<div *ngIf="resultSet">
    <div>
        <input type='text' [(ngModel)]="searchQuery" (keyup)='getResultSet()'/>
    </div>
    <ul>    
        <li *ngFor="let result of searchedList" [routerLink]="['/cities', result.name]"> 
            {{ result.name }}
        </li>
    </ul>
</div>