<div class="card" [routerLink]="['/cities', 'ramallah']">
    <div class="image-holder">
        <img src="{{ iconUrl }}" alt="">
    </div>
    <div>
        <p class="low"><span>Min</span>{{ min }}°</p>
        <p class="high"><span>Max</span>{{ max }}°</p>
    </div>
</div>