* {
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
}

:host {
    width: 25%;
    padding: 3px;
    display: inline-block;
    font-size: 0.8em;
}

.card {
    background: #9796c6;
    border-radius: 5px;
    padding-bottom: 15px;
}

.image-holder {
    width: 100%;
}

img {
    max-width: 100%;
}

.low {
    color: #c9d3d9;
}

.high {
    color: #df3323;
}

p>span {
    display: block;
    padding: 4px;
}