nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    font-size: 1.1em;
}

.right {
    width: 50px;
    height: 50px;
    padding: 5px;
    div {
        overflow: hidden;
        border-radius: 50%;
        background: #cecece;
        height: 100%;
        opacity: 0.5;
    }
}

img {
    max-width: 120%;
    position: relative;
    left: -5px;
    top: -5px;
}