<nav>
    <div class="left">
        <p>Weather</p>
    </div>
    <div class="right" [routerLink]="['/search', '13', '12']">
        <div>
            <img src="https://cdn1.iconfinder.com/data/icons/modern-flat-app-gui-1/50/Search-512.png" alt="hi">
        </div>
    </div>
</nav>
<router-outlet></router-outlet>