<app-current-day-item></app-current-day-item>
<div *ngIf="weatherList">
    <span *ngFor="let weather of weatherList; let i = index">
        <app-weather-item
            *ngIf="i % 8 == 0 && i != 0"
            min="{{ weather.main.temp_min }}"
            max="{{ weather.main.temp_max }}"
            iconUrl="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png">
        </app-weather-item>
    </span>
</div>